.country {
  border: 2px solid saddlebrown;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.country-visited {
  background-color: #15173d;
}

.btn {
  margin-left: 10px;
}
